// .icon-box {
//     margin: 20px 0;
//     height:auto;
//     min-height:100px;
//     text-align: center;
//     font-size: 12px;
//     .icon {
//         display: block;
//         margin: 10px 0;
//         width: 100%;
//         font-size: 30px;
//     }
// }
  
.table {
    font-size: 14px;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: -11px !important;
}

.form-group {
    width: 22%;
    float: right;
}

.viewmap {
    cursor: pointer;
}



// .carousel-indicators { 
//     left: 23% !important; 
// }
// .carousel-inner {
//     width: 50% !important;
// }
// .carousel-control.right {
//     right: 50% !important;
// }
